doctype html
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0;')
    meta(name='viewport', content='width=600,initial-scale = 2.3,user-scalable=no')
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700', rel='stylesheet')
    // <![endif]
    title Material Design for Bootstrap
    style(type='text/css').
      body {
      width: 100%;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
      mso-margin-top-alt: 0px;
      mso-margin-bottom-alt: 0px;
      mso-padding-alt: 0px 0px 0px 0px;
      }
      p,
      h1,
      h2,
      h3,
      h4 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      }
      span.preheader {
      display: none;
      font-size: 1px;
      }
      html {
      width: 100%;
      }
      table {
      font-size: 14px;
      border: 0;
      }
      /* ----------- responsivity ----------- */
      @media only screen and (max-width: 640px) {
      /*------ top header ------ */
      .main-header {
      font-size: 20px !important;
      }
      .main-section-header {
      font-size: 28px !important;
      }
      .show {
      display: block !important;
      }
      .hide {
      display: none !important;
      }
      .align-center {
      text-align: center !important;
      }
      .no-bg {
      background: none !important;
      }
      /*----- main image -------*/
      .main-image img {
      width: 440px !important;
      height: auto !important;
      }
      /* ====== divider ====== */
      .divider img {
      width: 440px !important;
      }
      /*-------- container --------*/
      .container590 {
      width: 440px !important;
      }
      .container580 {
      width: 400px !important;
      }
      .main-button {
      width: 220px !important;
      }
      /*-------- secions ----------*/
      .section-img img {
      width: 320px !important;
      height: auto !important;
      }
      .team-img img {
      width: 100% !important;
      height: auto !important;
      }
      }
      @media only screen and (max-width: 479px) {
      /*------ top header ------ */
      .main-header {
      font-size: 18px !important;
      }
      .main-section-header {
      font-size: 26px !important;
      }
      /* ====== divider ====== */
      .divider img {
      width: 280px !important;
      }
      /*-------- container --------*/
      .container590 {
      width: 280px !important;
      }
      .container590 {
      width: 280px !important;
      }
      .container580 {
      width: 260px !important;
      }
      /*-------- secions ----------*/
      .section-img img {
      width: 280px !important;
      height: auto !important;
      }
      }
    //if gte mso 9
      style(type='”text/css”').
        body {
        font-family: arial, sans-serif!important;
        }
  body.respond(leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    // pre-header
    table(style='display:none!important;')
      tbody
        tr
          td
            div(style='overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Arial;maxheight:0px;max-width:0px;opacity:0;')
              | Welcome!
    // pre-header end
    // header
    table(border='0', width='100%', cellpadding='0', cellspacing='0', bgcolor='ffffff')
      tbody
        tr
          td(align='center')
            table.container590(border='0', align='center', width='590', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td(height='25', style='font-size: 25px; line-height: 25px;')  
                tr
                  td(align='center')
                    table.container590(border='0', align='center', width='590', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td(align='center', height='70', style='height:70px;')
                            a(href='', style='display: block; border-style: none !important; border: 0 !important;')
                              img(width='100', border='0', style='display: block; width: 100px;', src='https://mdbootstrap.com/img/logo/mdb-email.png', alt='')
                        tr
                          td(align='center')
                            table.container590.hide(width='360 ', border='0', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                              tbody
                                tr
                                  td(width='120', align='center', style="font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;")
                                    a(href='', style='color: #312c32; text-decoration: none;') MEN
                                  td(width='120', align='center', style="font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;")
                                    a(href='', style='color: #312c32; text-decoration: none;') WOMEN
                                  td(width='120', align='center', style="font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;")
                                    a(href='', style='color: #312c32; text-decoration: none;') BLOG
                tr
                  td(height='25', style='font-size: 25px; line-height: 25px;')  
    // end header
    // big image section
    table.bg_color(border='0', width='100%', cellpadding='0', cellspacing='0', bgcolor='ffffff')
      tbody
        tr
          td(align='center')
            table.container590(border='0', align='center', width='590', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td.main-header(align='center', style='color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;')
                    // section text ======
                    div(style='line-height: 35px')
                      | Welcome to the future of 
                      span(style='color: #5caad2;') fashion
                tr
                  td(height='10', style='font-size: 10px; line-height: 10px;')  
                tr
                  td(align='center')
                    table(border='0', width='40', align='center', cellpadding='0', cellspacing='0', bgcolor='eeeeee')
                      tbody
                        tr
                          td(height='2', style='font-size: 2px; line-height: 2px;')  
                tr
                  td(height='20', style='font-size: 20px; line-height: 20px;')  
                tr
                  td(align='left')
                    table.container590(border='0', width='590', align='center', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td(align='left', style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;")
                            // section text ======
                            p(style='line-height: 24px; margin-bottom:15px;')
                              | Hello #{username},
                            p(style='line-height: 24px;margin-bottom:15px;')
                              | Reset you password
                            p(style='line-height: 24px; margin-bottom:20px;')
                              | You can access your account at any point using the link below.
                            table(border='0', align='center', width='180', cellpadding='0', cellspacing='0', bgcolor='5caad2', style='margin-bottom:20px;')
                              tbody
                                tr
                                  td(height='10', style='font-size: 10px; line-height: 10px;')  
                                tr
                                  td(align='center', style="color: #ffffff; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 22px; letter-spacing: 2px;")
                                    // main section button
                                    div(style='line-height: 22px;')
                                       
                                      a(href=link, style='color: #ffffff; text-decoration: none;') Reset
                                tr
                                  td(height='10', style='font-size: 10px; line-height: 10px;')  
                            p(style='line-height: 24px')
                              | Love,
                              br
                              |                                             The team
        tr
          td(height='40', style='font-size: 40px; line-height: 40px;')  
    // end section
    // main section
    table(border='0', width='100%', cellpadding='0', cellspacing='0', bgcolor='2a2e36')
      tbody
        tr
          td(align='center', style='background-image: url(https://mdbootstrap.com/img/Photos/Others/slide.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat;', background='https://mdbootstrap.com/img/Photos/Others/slide.jpg')
            table.container590(border='0', align='center', width='590', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td(height='50', style='font-size: 50px; line-height: 50px;')  
                tr
                  td(align='center')
                    table.container590(border='0', width='380', align='center', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                      tbody
                        tr
                          td(align='center')
                            table.container580(border='0', align='center', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(align='center', style="color: #cccccc; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 26px;")
                                    // section text ======
                                    div(style='line-height: 26px')
                                      | The all new AW16 range is out. View an exclusive preview.
                tr
                  td(height='25', style='font-size: 25px; line-height: 25px;')  
                tr
                  td(align='center')
                    table(border='0', align='center', width='250', cellpadding='0', cellspacing='0', style='border:2px solid #ffffff;')
                      tbody
                        tr
                          td(height='10', style='font-size: 10px; line-height: 10px;')  
                        tr
                          td(align='center', style="color: #ffffff; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 22px; letter-spacing: 2px;")
                            // main section button
                            div(style='line-height: 22px;')
                              a(href='', style='color: #fff; text-decoration: none;') VIEW THE COLLECTION
                        tr
                          td(height='10', style='font-size: 10px; line-height: 10px;')  
                tr
                  td(height='50', style='font-size: 50px; line-height: 50px;')  
    // end section
    // contact section
    table.bg_color(border='0', width='100%', cellpadding='0', cellspacing='0', bgcolor='ffffff')
      tbody
        tr
          td(height='60', style='font-size: 60px; line-height: 60px;')  
        tr
          td(align='center')
            table.container590.bg_color(border='0', align='center', width='590', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td(align='center')
                    table.container590.bg_color(border='0', align='center', width='590', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td
                            table.container590(border='0', width='300', align='left', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                              tbody
                                tr
                                  // logo
                                  td(align='left')
                                    a(href='', style='display: block; border-style: none !important; border: 0 !important;')
                                      img(width='80', border='0', style='display: block; width: 80px;', src='https://mdbootstrap.com/img/logo/mdb-email.png', alt='')
                                tr
                                  td(height='25', style='font-size: 25px; line-height: 25px;')  
                                tr
                                  td.text_color(align='left', style="color: #888888; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 23px;")
                                    div(style="color: #333333; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; font-weight: 600; mso-line-height-rule: exactly; line-height: 23px;")
                                      | Email us: 
                                      br
                                      a(href='mailto:', style="color: #888888; font-size: 14px; font-family: 'Hind Siliguri', Calibri, Sans-serif; font-weight: 400;") contact@mdbootstrap.com
                            table.container590(border='0', width='2', align='left', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                              tbody
                                tr
                                  td(width='2', height='10', style='font-size: 10px; line-height: 10px;')
                            table.container590(border='0', width='200', align='right', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                              tbody
                                tr
                                  td.hide(height='45', style='font-size: 45px; line-height: 45px;')  
                                tr
                                  td(height='15', style='font-size: 15px; line-height: 15px;')  
                                tr
                                  td
                                    table(border='0', align='right', cellpadding='0', cellspacing='0')
                                      tbody
                                        tr
                                          td
                                            a(href='https://www.facebook.com/mdbootstrap', style='display: block; border-style: none !important; border: 0 !important;')
                                              img(width='24', border='0', style='display: block;', src='http://i.imgur.com/Qc3zTxn.png', alt='')
                                          td     
                                          td
                                            a(href='https://twitter.com/MDBootstrap', style='display: block; border-style: none !important; border: 0 !important;')
                                              img(width='24', border='0', style='display: block;', src='http://i.imgur.com/RBRORq1.png', alt='')
                                          td     
                                          td
                                            a(href='https://plus.google.com/u/0/b/107863090883699620484/107863090883699620484/posts', style='display: block; border-style: none !important; border: 0 !important;')
                                              img(width='24', border='0', style='display: block;', src='http://i.imgur.com/Wji3af6.png', alt='')
        tr
          td(height='60', style='font-size: 60px; line-height: 60px;')  
    // end section
    // footer ======
    table(border='0', width='100%', cellpadding='0', cellspacing='0', bgcolor='f4f4f4')
      tbody
        tr
          td(height='25', style='font-size: 25px; line-height: 25px;')  
        tr
          td(align='center')
            table.container590(border='0', align='center', width='590', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    table.container590(border='0', align='left', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                      tbody
                        tr
                          td(align='left', style="color: #aaaaaa; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;")
                            div(style='line-height: 24px;')
                              span(style='color: #333333;') Material Design for Bootstrap
                    table.container590(border='0', align='left', width='5', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                      tbody
                        tr
                          td(height='20', width='5', style='font-size: 20px; line-height: 20px;')  
                    table.container590(border='0', align='right', cellpadding='0', cellspacing='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                      tbody
                        tr
                          td(align='center')
                            table(align='center', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(align='center')
                                    a(style="font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;color: #5caad2; text-decoration: none;font-weight:bold;", href='{{UnsubscribeURL}}') UNSUBSCRIBE
        tr
          td(height='25', style='font-size: 25px; line-height: 25px;')  
    // end footer ======